  <main class="px-3">
    <h1>Cover your page.</h1>
    <p class="lead">A software developer, who loves to code, sports and always working hard.</p>
    <p class="lead">
      <%= link_to 'Learn More', about_me_path , class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
    </p>
  </main>